


body {
    background-color: #ffffff !important;
    background-repeat: no-repeat;
}



h1{
    color: #000000;
    font-family: "minecraftmedium";
    text-transform: uppercase;
}


p{
    // color: #ed0000;
    font-family: "retro_gamingregular";
}

// img{
//     width: 100px;
//     height: 100px;
// }


